*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(10pt, calc(8pt + 0.5vw), 20pt);
}

body {
    --theme-color: #3c667c;
    --theme-color-highlight: #3e6e8a;
    --invalid-color: #dd2200;
    --subtle-shadow: 4px 4px 4px 0 #00000018;

    color: #000000;
    background-color: #f0f0f0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #fff;
    background: center / cover url("img/clouds-alexander-jawfox-unsplash.jpg");
    background-color: var(--theme-color, black);
    text-align: center;

    .logo-bar {
        --logo-height: 3.5rem;

        height: calc(--logo-height + 2rem);
        width: 100%;
        background-color: #0a2f3e90;
        margin: 0;
        padding: 1rem;
    }

    img.logo {
        height: var(--logo-height);
        position: relative;
        top: calc(var(--logo-height) * 0.10);
    }

    .brand-name {
        font-size: var(--logo-height);
        position: relative;
        top: calc(var(--logo-height) * -0.05);
    }

    .credit {
        display: none;
    }

    a {
        color: #fff;
    }
}

/* General main styling */
main {
    --horz-margin: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .pitch {
        font-size: 1.1rem;
        font-weight: 500;
    }

    div.pitch {
        padding: 0 var(--horz-margin);
        max-width: 45rem;
    }

    div.pitch p {
        margin: 1rem 0;
    }

    .login-link {
        margin: 0.5rem var(--horz-margin);
    }

    a {
        font-weight: bold;
        color: var(--theme-color, darkblue);
        text-decoration: none;
    }

    a:hover {
        color: var(--theme-color-highlight, blue);
        text-decoration: underline;
    }
}

form {
    > .input-container {
        border: none;
        background-color: #ffffff;
        box-shadow: 0px 5px 5px -1px #00000020;
        padding: 1rem var(--horz-margin);
        margin: 1rem 0;
    }

    fieldset {
        border: none;
        margin: 1rem 0 1rem 0;

        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 3rem;
    }

    .field-block {
        height: 3.6rem;
    }

    label {
        display: block;
        font-size: 0.7rem;
        letter-spacing: 0.07rem;
        text-transform: uppercase;
    }

    input {
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        font-size: 1rem;
        line-height: 1.3;
        margin: 0;
        padding: 0.2rem;
        width: 14rem;
    }

    input:focus {
        border: 1px solid var(--theme-color-highlight);
        box-shadow: var(--subtle-shadow);
        outline: none;
    }

    .post-submit input:invalid {
        border-color: var(--invalid-color, red);
    }

    .validation-message {
        display: none;
    }

    .post-submit .validation-message {
        display: block;
        font-size: 0.7rem;
        color: var(--invalid-color, red);
    }

    button {
        color: white;
        background-color: var(--theme-color, black);
        font-weight: bold;
        border: none;
        border-radius: 0.3rem;
        margin: 0.5rem var(--horz-margin);
        padding: 0.8rem 2.4rem;
        cursor: pointer;
        box-shadow: var(--subtle-shadow);
    }

    button:hover {
        background-color: var(--theme-color-highlight, blue);
    }
}

/* Wide and desktop settings */
@media (min-width: 40rem) {
    body {
        flex-direction: row;
    }

    header {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo-bar {
            --logo-height: max(3rem, calc(1rem + 4vw));

            margin-top: 20vh;
            flex: 0;
        }

        .credit {
            display: block;
            font-size: 0.7rem;
            min-height: 1.6rem;
            opacity: 0.75;
            flex: 0;
        }
    }

    main {
        flex: 2;
    }
}